<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Validation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        * {
        width: 500px !important ;
        margin: 0px auto ;
        }
        .flashes{
            color: green;
            list-style: none;
        }

        input.btn.btn-link{
            width: 100px !important;
          
        }

        form{
            width: 100px !important;
        }

    </style>
</head>
<body>


        <h1>Email adresses entered: </h1>
        {% with messages = get_flashed_messages() %} 
            {% if messages%}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <table class="table table-striped">
            
            {% for email in emails %}  
                <tbody>
                    <tr>
                    
                        <th scope="row">{{email.email}}</th>
                        <th >{{email.created_at}}</th>
                        <td>
                            <form action="/delete" method="POST">
                                <input type="hidden" value="{{email['id']}}" name="id">
                                <input class="btn btn-link" type="submit" value="DELETE">
                            </form>
                        </td>
                        
                    
                
                
                    </tr>
                </tbody>
            {% endfor %}
        </table>
           
                 
  
    
      
</body>
</html>