<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
    
</head>
<body>
    <div>
        <h1>Create a User</h1>
        {% with messages = get_flashed_messages() %} 
            {% if messages%}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action='/process' method='post'>
            
            <label>Your First Name:  </label> 
            <br>      
            <input type='text' name='firstname'>
            <br>
            <br>
            <label>Your Last Name:  </label> 
            <br>

            <input type='text' name='lastname'>
            <br>
            <br>
            
            <label>Your Email:  </label>  
            <br>

            <input type='email' name='email'>
            <br>
            <br>

            <label>Your Password:  </label> 
            <br>

            <input type='password' name='password'>
            <br>
            <br>

            <label>Confirm Password:  </label>   
            <br>

            <input type='password' name='confirm_password'>
            <br>
            <br>
           


            <input type='submit' value='Submit'>
        </form>
    </div> 
</body>
</html>
    
   