<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Great Number Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylee.css') }}">
    
</head>
<body>
    <section id="hero" class="wow fadeIn">
        <div class="hero-container">
            <h1>Welcome to the Great Number Game</h1>
            <h4>I am thinking of a number between 1 and 100</h4>
            <h4>Take a guess!</h4>
            <br>
            {% if result == "high" %}
            <div class="red">Too High!</div>
            {% endif %}

            {% if result == "low" %}
            <div class="red">Too Low!</div>
            {% endif %}
            
            {% if result == "correct" %}
            <div class="green">{{session["correct"]}} was the correct number</div>
            <form action="/reset" method="get">
                <button class="btn" type="submit">Play Again!</button>
            </form>
            {% endif %}
            
           
            {% if not session or session['result'] != "correct"%}
            <form action="/guess" method="post">
                <input type="text" name="guess"><br>
                <br>
                <button class="btn" type="submit">Submit</button>
            </form> 
            {% endif %}


            

            
            
        </div>
    </section>
            
    
</body>
</html>