 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        * {
        width: 500px !important ;
        margin: 0px auto ;
        }
    </style>
</head>
<body>
        <h1>These are my friends!</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Occupation</th>
                </tr>
            </thead>
            {% for friend in friends %}  
            <tbody>
                <tr>
                
                    <th scope="row">{{friend.id}}</th>
                    <td >{{friend.first_name}}</td>
                    <td>{{friend.last_name}}</td>
                    <td>{{friend.occupation}}</td>
                
            
            
                </tr>
            </tbody>
            {% endfor %}
        </table>
           
                 
    <h1>Add a friend</h1>
    <form action="/create_friend" method="post">
            <div class="form-group">
              <label>First Name:</label>
              <input type="text" class="form-control"  name = "first_name"  placeholder="JOE">
              
            </div>
            <div class="form-group">
              <label>last Name: </label>
              <input type="text" class="form-control" name= "last_name" placeholder="JONAS">
            </div>
            <div class="form-group">
                    <label>Occupation: </label>
                    <input type="text" class="form-control"  name="occupation" placeholder="Singer">
                  </div>
            
            <button type="submit" class="btn btn-primary">Add this friend</button>
     </form>

    
      
</body>
</html>